# DS4420 Transit Data EDA
Exploring GTFS Schedule data for the MBTA. Loading data, observing features and preparing for analysis.

In [1]:
# imports
import pandas as pd

In [4]:
# load data
trips = pd.read_csv('MBTA_GTFS/trips.txt')
trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,trip_route_type,route_pattern_id,bikes_allowed
0,1,WinterSaturday,66623853,Harvard,NaN,0,C01-12,010138,1,NaN,1-_-0,1
1,1,WinterSaturday,66623854,Harvard,NaN,0,C01-2,010138,1,NaN,1-_-0,1
2,1,WinterSaturday,66623856,Harvard,NaN,0,C01-4,010138,1,NaN,1-_-0,1
3,1,WinterSaturday,66623857,Harvard,NaN,0,C01-10,010138,1,NaN,1-_-0,1
4,1,WinterSaturday,66623858,Harvard,NaN,0,C01-2,010138,1,NaN,1-_-0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44004,Shuttle-StateSullivan,canonical,StateSullivan-1-sample,Sullivan (Shuttle),Sullivan (Shuttle),1,NaN,StateToSullivan-S,1,3.0,Shuttle-StateSullivan-0-1,0
44005,Shuttle-SuffolkDownsWonderland,canonical,SuffolkDownsWonderland-0-sample,Suffolk Downs (Shuttle),Suffolk Downs (Shuttle),0,NaN,WonderlandToSuffolkDowns-S,1,3.0,Shuttle-SuffolkDownsWonderland-0-0,0
44006,Shuttle-SuffolkDownsWonderland,canonical,SuffolkDownsWonderland-1-sample,Wonderland (Shuttle),Wonderland (Shuttle),1,NaN,SuffolkDownsToWonderland-S,1,3.0,Shuttle-SuffolkDownsWonderland-0-1,0
44007,Shuttle-TFGreenWickfordJunction,canonical,TFGreenWickfordJunction-0-sample,Wickford Junction (Shuttle),Wickford Junction (Shuttle),0,NaN,TFGreenToWickfordJunction-S,1,3.0,Shuttle-TFGreenWickfordJunction-0-0,0
44008,Shuttle-TFGreenWickfordJunction,canonical,TFGreenWickfordJunction-1-sample,TF Green Airport (Shuttle),TF Green Airport (Shuttle),1,NaN,WickfordJunctionToTFGreen-S,1,3.0,Shuttle-TFGreenWickfordJunction-0-1,0